{% extends 'basic.html' %}
{% block title %} <title>watch</title> {% endblock title %}
{% block body %}
{% load humanize %}


<body>
    {% comment %} {% for i in watch_video %} {% endcomment %}
    <div class="container-float my-3" style="height: auto; width:auto; background-color:rgb(15, 13, 13);">
        <!-- <div class="container my-2"
            style="float: left; height: 600px; width:860px; background-color: rgb(158, 42, 42); position: absolute;"> -->
        <div class="row" style="height: 600px;">
            <video style="margin-left: 1cm;width: 30cm;" class="col-8" height="600" width="700" controls autoplay>
                <source src='/media/{{watch_video.videos}}' type="video/mp4">
                Something went wrong
            </video>








            <input type="hidden" name="videoid" value="{{watch_video.video_id}}">
            <div style="width: 14cm;" class="col-2 my-4"
                style="float: right; height: 900px; width:350px; background-color: rgb(95, 53, 53);">
                {% for i in allvideo %}

                <div style="width: 300px;" class="container my-1">
                    <a style="text-decoration: none;" href="{{i.video_id}}">
                        <div class="row" style="background-color: white;">

                            <div class="col-3" style="background-color:black;">
                                <img style="margin-left: -148px; height: 140px ; width: 200px;"
                                    src='/media/{{i.thumbnail}}' alt="...">
                            </div>
                            <div class="col" style="background-color: rgb(12, 12, 11);">
                                <span style="max-width: 5cm; color:white; overflow: hidden; text-overflow: ellipsis;"
                                    label="abcdd" title="abcdefg">{{i.title|truncatechars:30}}</span><br>
                                <span
                                    style="color:rgb(107, 97, 97); overflow: hidden; text-overflow: ellipsis;">{{i.channel_name}}</span><br>
                                <span
                                    style="color:rgb(131, 116, 116); overflow: hidden; text-overflow: ellipsis;">{{i.views}}
                                    views - {{i.posted}}</span>
                            </div>
                        </div>
                    </a>
                </div>























                {% comment %} <div class="card" style="width:100px; height:100px;">
                    <a href="{{i.video_id}}">
                        <img style="width: 220px;" src='/media/{{i.thumbnail}}' class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="row">{{i.title}}</p>
                            <img src='/media/{{i.channel_logo}}' style="height: 40px; width: 40px;" class="card-img-top"
                                alt="...">
                    </a>
                    <p class="card-text row">Channel name</p>
                    {{i.views}}
                </div> {% endcomment %}
                {% endfor %}
            </div>
        </div>
        <div class="container" style="background-color: rgb(14, 1, 1);width: 1100px; margin-left: 1cm;">
            <p style="color: white;">{{watch_video.title}}</p>
            <div class="row" style="color: white;">
                <div class="col"> views {{watch_video.views}} - {{watch_video.posted}}</div>
                <div class="col-3"> </div>
                <div class="col mb-2">
                    <!-- <iframe name="hiddenFrame" type="hidden"></iframe> -->
                    <form style="display: inline-block;" action="#" method="POST" id="likevalform" name="likevalform"> {% csrf_token %}
                        <input id="likeval" name="likeval" type="hidden" value='{{watch_video.likes}}'>
                        <button type="submit" id="like" class="btn btn-secondary btn-sm">Like {{watch_video.likes}}</button>
                    <!-- </form> -->
                    <!-- <form style="display: inline-block;" action="#" method="POST" id="dislikevalform" name="dislikevalform"> {% csrf_token %} -->
                        <button type="submit" id="dislikeval" name="dislikeval" class="btn btn-secondary btn-sm">dislike {{watch_video.dislikes}}</button>
                            </form>
                        <button type="submit" id="fav" class="btn btn-secondary btn-sm">Add to Favourite</button>
                </div>
                <br>
                <hr>
                <br>
                <!-- <div class="row" style="background-color: blue;"> -->
                <img class=" my-3" onclick="document.location='/channel/{{watch_video.channel_name}}'" style=" cursor: pointer; border-radius: 50%; height: 70px ; width: 100px;"
                    src='/media/{{watch_video.thumbnail}}' alt="no img">
                <form style="display: contents;" action="#" id="subscribers">
                    <span id="span" onclick="document.location='/channel/{{watch_video.channel_name}}'" style="cursor: pointer; margin-top: 25px;height: 70px;width: auto;">
                        {{watch_video.channel_name}}</span>
                        <br>
                        <span style="font-size:smaller;display: inline-block; margin-top: 1.5cm;margin-left: -3.7cm; ">{{watch_video.subscribers}} subscribers
                        </span>
                    </span>
                </form>
                <!-- </div> -->

                <form style="display: contents;" action="#" id="subscribebtn" method="POST"> {% csrf_token %}
                    <button id="subscribebtn" name="subscribebtn"
                        style="background-color: rgb(184, 28, 74);height: 40px; width: auto; margin-top: 40px;margin-left: 14cm;"
                        type="submit" class="btn btn-secondary btn-sm">SUBSCRIBE</button>
                </form>

                <br>
                <br>
                <br>
                <br>
                <div class="container">Description section</div>
                <hr>
                <br>
                <br>
                <div class="row">
                    <span class="col">{{comments|length}} Comments</span>
                    <span class="col"> sort by</span>
                    <br>
                    <br>
                </div>
                <form action="/postComment" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input style="background-color: black; color: white; border: none;" type="text"
                            class="form-control" name="commentdes" placeholder="Add a public comment...">
                        <hr>
                        <input type="hidden" name="parentvideo_id" value="{{watch_video.video_id}}">
                    </div>
                    <input type="hidden" name="commentid" value="{{comments.comment_id}}">
                    {% if user.is_authenticated %}
                    <button type="submit" class="btn btn-primary mt-2">Post</button>
                    {% else %}
                    <button data-bs-toggle="modal" data-bs-target="#LoginModal" type="button"
                        class="btn btn-primary mt-2">Log in to Post
                        comment</button>
                    {% endif %}
                </form>
            </div>
            <h3 style="color: white;">comments</h3>
            {% for i in comments %}
            {% if not i.parent_comment %}


            <div class="row my-2">
                <div class="col-md-1">
                    <img class="rounded-circle mx-auto d-block w-100 p-2" src="/static/user.jpg" alt="user">
                </div>
                <div class="col-md-11" style="background-color: black; color:white;">
                    <b> {{i.user.username}} </b>
                    <span class="badge bg-secondary">{{i.timestamp|naturaltime}}</span>
                    <div> {{i.main_comment}}</div>

                    <!-- reply box dropdown button -->
                    {% if user.is_authenticated %}
                    <button class="btn btn-sm btn-primary" id="replybtn" type="button" data-bs-toggle="collapse"
                        data-bs-target="#reply{{i.comment_id}}" aria-expanded="false"
                        aria-controls="reply{{i.comment_id}}">
                        Reply
                    </button>
                    {% else %}
                    <button class="btn btn-sm btn-primary" id="replybtn" type="button" data-bs-toggle="collapse"
                        data-bs-target="#reply{{i.comment_id}}" aria-expanded="false"
                        aria-controls="reply{{i.comment_id}}" disabled>
                        Login to Reply
                    </button>
                    {% endif %}
                    {% endif %}

                    <!-- start showing reply box -->
                    <div class="collapse" id="reply{{i.comment_id}}">
                        <form action="/postComment" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="parentvideo_id" value="{{watch_video.video_id}}">
                            <div class="form-floating" style="margin-left: 2cm;">
                                <textarea style="background-color: crimson;" class="form-control"
                                    placeholder="Leave a comment here" name="replybox" id="replybox{{i.comment_id}}"
                                    style="height: 100px"></textarea>
                                <input type="hidden" name="parentSno" value="{{i.comment_id}}">
                                <input type="hidden" name="replySno" value="reply{{i.comment_id}}">
                                <input type="hidden" name="postSno" value="{{i.parent_video.video_id}}">
                            </div>
                            <button type="submit" class="btn btn-success mt-1" style="margin-left:auto">Post</button>
                        </form>
                    </div>
                    <!-- end showing reply box -->


                    {% for comments in allcomments %}
                    {% if comments.parent_comment.comment_id == i.comment_id %}
                    <div class="form-floating my-2" style="margin-left: 2cm;">
                        <textarea style="background-color: black; color: white; border: none;" class="form-control"
                            placeholder="Leave a comment here"
                            id="floatingTextarea">{{comments.main_comment}}</textarea>
                        <label for="floatingTextarea">{{comments.user.username}}
                            <span class="badge bg-dark">{{comments.timestamp|naturaltime}}</span></label>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- login In Modal -->
    <div aria-hidden="true" aria-labelledby="LoginModal" class="modal fade" id="LoginModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LoginModalTitle">User Login</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                        <!-- <span aria-hidden="true">&times;</span> -->
                    </button>
                </div>
                <div class="modal-body">

                    <form action="/signin" method="POST">{% csrf_token %}
                        <div class="form-group">
                            <label for="email">Username or Email address</label>
                            <input aria-describedby="emailHelp" autocomplete="off" class="form-control"
                                id="loginusername" name="loginusername" type="text">
                            <small class="form-text text-muted" id="EmailHelp">We'll never share your email with
                                anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input autocomplete="off" class="form-control" id="loginpass" name="loginpass"
                                type="password">
                        </div>
                        <div class="form-group form-check">
                            <input class="form-check-input" id="exampleCheck1" type="checkbox">
                            <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                        </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">Sign In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock body %}

{% block js %}
<script>
    let like = document.getElementById("like")
    let dislike = document.getElementById("dislike")
    let fav = document.getElementById("fav")
    let subscribebtn = document.getElementById("subscribebtn")

    // like.addEventListener("click", (element) => {
    //     if (like.innerText == "Like") {
    //         // like.innerText="Liked"
    //         like.classList.remove("btn-secondary")
    //         like.classList.add("btn-primary")

    //     }
    //     else {
    //         like.innerText="Like"
    //         like.classList.remove("btn-primary")
    //         like.classList.add("btn-secondary")

    //     }
    // });

    fav.addEventListener("click", (element) => {
        if (fav.innerText == "Add to Favourite") {
            fav.innerText = "Added to Favourite"
            fav.classList.remove("btn-secondary")
            fav.classList.add("btn-primary")

        } else {
            fav.innerText = "Add to Favourite"
            fav.classList.remove("btn-primary")
            fav.classList.add("btn-secondary")

        }
    });

    // subscribebtn.addEventListener("click", () => {
    //     if (subscribebtn.innerHTML == "SUBSCRIBE") {
    //         subscribebtn.innerHTML = "SUBSCRIBED"
    //         subscribebtn.style.backgroundColor = "grey"
    //     } else {
    //         subscribebtn.innerHTML = "SUBSCRIBE"
    //         subscribebtn.style.backgroundColor = "rgb(184, 28, 74)"
    //     }
    // });

    // $('#likevalform').submit(function (event) {
    //     var formdata = {
    //         'likeval' : $('input[name=likeval]').val(),
    //         'csrfmiddlewaretoken' : $('input[name=csrfmiddlewaretoken]').val()
    //         }
    //     $.ajax({
    //         type:"POST",
    //         url:`/watch/${window.location.href.slice(-1)}/`,
    //         data:formdata,
    //         encode:true

    //     });

    //     .done(function(data){
    //         console.log(data)
    //     });
         
    //     event.preventDefault();
       
    // });



</script>
{% endblock js %}